administrator/components/com_virtuemart/services/VM_SQLQueries.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.virtuemart.net/VM_SQLQueries/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="VM_SQLQueries"
	targetNamespace="http://www.virtuemart.net/VM_SQLQueries/" >
	
	<wsdl:types>
	
		<xsd:schema targetNamespace="http://www.virtuemart.net/VM_SQLQueries/">

			<xsd:element name="ExecuteSQLQueryResponse" type="tns:SQLResultArray" />
			<xsd:element name="ExecuteSQLQueryRequest" type="tns:SQLRequest" />

			<xsd:element name="ExecuteSQLSelectQueryResponse" type="tns:SQLResultArray" />
			<xsd:element name="ExecuteSQLSelectQueryRequest" type="tns:SQLSelectRequest" />

			<xsd:element name="ExecuteSQLInsertQueryResponse" type="tns:SQLResultArray" />
			<xsd:element name="ExecuteSQLInsertQueryRequest" type="tns:SQLInsertRequest" />

			<xsd:element name="ExecuteSQLUdpateQueryResponse" type="tns:SQLResultArray" />
			<xsd:element name="ExecuteSQLUdpateQueryRequest" type="tns:SQLUpdateRequest" />

			<xsd:complexType name="loginInfo">
				<xsd:all>
					<xsd:element name="login" type="xsd:string" />
					<xsd:element name="password" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="SQLResultArray">
				<xsd:sequence>
					<xsd:element name="SQLResult" type="tns:SQLResult" minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="SQLResult">
				<xsd:all>
					<xsd:element name="columnsAndValues" type="tns:colomnAndValueArray" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="colomnAndValueArray">
				<xsd:sequence>
					<xsd:element name="columnAndValue" type="tns:columnAndValue" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="columnAndValue">
				<xsd:all>
					<xsd:element name="idx" type="xsd:string" />
					<xsd:element name="column" type="xsd:string" />
					<xsd:element name="value" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="SQLRequest">
				<xsd:all>
					<xsd:element name="loginInfo" type="tns:loginInfo" />
					<xsd:element name="sqlRequest" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="SQLSelectRequest">
				<xsd:all>
					<xsd:element name="loginInfo" type="tns:loginInfo" />
					<xsd:element name="table" type="xsd:string" />
					<xsd:element name="whereClause" type="xsd:string" />
					<xsd:element name="columns" type="tns:columns" />
				</xsd:all>
			</xsd:complexType>

			<xsd:complexType name="SQLInsertRequest">
				<xsd:all>
					<xsd:element name="loginInfo" type="tns:loginInfo" />
					<xsd:element name="table" type="xsd:string" />
					<xsd:element name="whereClause" type="xsd:string" />
					<xsd:element name="columns" type="tns:columns" />
					<xsd:element name="values" type="tns:values" />
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="SQLUpdateRequest">
				<xsd:all>
					<xsd:element name="loginInfo" type="tns:loginInfo" />
					<xsd:element name="table" type="xsd:string" />
					<xsd:element name="whereClause" type="xsd:string" />
					<xsd:element name="columns" type="tns:columns" />
					<xsd:element name="values" type="tns:values" />
				</xsd:all>
			</xsd:complexType>

			<xsd:complexType name="columns">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="column"	type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="values">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="value" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			
			

		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="ExecuteSQLQueryRequest">
		<wsdl:part element="tns:ExecuteSQLQueryRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="ExecuteSQLQueryResponse">
		<wsdl:part element="tns:ExecuteSQLQueryResponse" name="parameters" />
	</wsdl:message>

	<wsdl:message name="ExecuteSQLSelectQueryResponse">
		<wsdl:part element="tns:ExecuteSQLSelectQueryResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="ExecuteSQLSelectQueryRequest">
		<wsdl:part element="tns:ExecuteSQLSelectQueryRequest" name="parameters" />
	</wsdl:message>

	<wsdl:message name="ExecuteSQLInsertQueryResponse">
		<wsdl:part element="tns:ExecuteSQLInsertQueryResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="ExecuteSQLInsertQueryRequest">
		<wsdl:part element="tns:ExecuteSQLInsertQueryRequest" name="parameters" />
	</wsdl:message>

	<wsdl:message name="ExecuteSQLUdpateQueryResponse">
		<wsdl:part element="tns:ExecuteSQLUdpateQueryResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="ExecuteSQLUdpateQueryRequest">
		<wsdl:part element="tns:ExecuteSQLUdpateQueryRequest" name="parameters" />
	</wsdl:message>

	<wsdl:portType name="VM_SQLQueries">
		<wsdl:operation name="ExecuteSQLQuery">
			<wsdl:input message="tns:ExecuteSQLQueryRequest" />
			<wsdl:output message="tns:ExecuteSQLQueryResponse" />
		</wsdl:operation>
		<wsdl:operation name="ExecuteSQLSelectQuery">
			<wsdl:input message="tns:ExecuteSQLSelectQueryRequest" />
			<wsdl:output message="tns:ExecuteSQLSelectQueryResponse" />
		</wsdl:operation>
		<wsdl:operation name="ExecuteSQLInsertQuery">
			<wsdl:input message="tns:ExecuteSQLInsertQueryRequest" />
			<wsdl:output message="tns:ExecuteSQLInsertQueryResponse" />
		</wsdl:operation>
		<wsdl:operation name="ExecuteSQLUpdateQuery">
			<wsdl:input message="tns:ExecuteSQLUdpateQueryRequest" />
			<wsdl:output message="tns:ExecuteSQLUdpateQueryResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="VM_SQLQueriesSOAP" type="tns:VM_SQLQueries">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="ExecuteSQLQuery">
			<soap:operation
				soapAction="http://www.virtuemart.net/VM_SQLQueries/ExecuteSQLQuery" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ExecuteSQLSelectQuery">
			<soap:operation
				soapAction="http://www.virtuemart.net/VM_SQLQueries/ExecuteSQLSelectQuery" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ExecuteSQLInsertQuery">
			<soap:operation
				soapAction="http://www.virtuemart.net/VM_SQLQueries/ExecuteSQLInsertQuery" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ExecuteSQLUpdateQuery">
			<soap:operation
				soapAction="http://www.virtuemart.net/VM_SQLQueries/ExecuteSQLUpdateQuery" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="VM_SQLQueries">
		<wsdl:port binding="tns:VM_SQLQueriesSOAP" name="VM_SQLQueriesSOAP">
			<soap:address location="http://___HOST___/___BASE___/administrator/components/com_vm_soa/services/___SERVICE___" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
